{% extends 'base.html' %}

{% block content %}
<div class="resident-management">
    <h1>Resident Management</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.name.label }} {{ form.name(size=32) }}<br>
        {{ form.unit.label }} {{ form.unit(size=10) }}<br>
        {{ form.phone.label }} {{ form.phone(size=15) }}<br>
        {{ form.submit() }}
    </form>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Unit</th>
                <th>Phone</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for resident in residents %}
            <tr>
                <td>{{ resident.name }}</td>
                <td>{{ resident.unit }}</td>
                <td>{{ resident.phone }}</td>
                <td>{{ resident.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
