{% extends 'base.html' %}

{% block content %}
<div class="visitor-management">
    <h1>Visitor Management</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.name.label }} {{ form.name(size=32) }}<br>
        {{ form.date.label }} {{ form.date() }}<br>
        {{ form.time_in.label }} {{ form.time_in() }}<br>
        {{ form.submit() }}
    </form>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Time In</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for visitor in visitors %}
            <tr>
                <td>{{ visitor.name }}</td>
                <td>{{ visitor.date }}</td>
                <td>{{ visitor.time_in }}</td>
                <td>{{ visitor.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
